#student_graph {
    border: 3px solid black;
    position: relative;
    left: 30%;
}

#left_button {
    position: relative;
    top: 422px;
    left: 5%;
    width: 64px;
    height: 64px;
}

#right_button {
    position: relative;
    bottom: 128px;
    left: 24%;
    width: 64px;
    height: 64px;
}

#Q_button {
    position: relative;
    bottom: 48px;
    left: 2%;
    width: 64px;
    height: 64px;
}

#summary_div {
    position: absolute;
    margin: 64px;
    padding: 4px;
    border:3px solid black;
    overflow:scroll;
}

#summary_div2 {
    position: absolute;
    margin: 32px;
    padding: 2px;
    border:3px solid black;
    overflow:scroll;
}

#summary_title {
    position: relative;
    font-size: 48px;
    padding: 4px;
    margin: 4px;
    left: 25px;
}

#summary_back {
    position: relative;
    left: 3%;
    top: 6%;
}

#summary {
    text-overflow: clip;
    word-wrap: break-word;
}